<div class="page">
  <div class="page-header">
    <h1>Personel Listesi</h1>
    <p>Sistemde kayıtlı tüm personelleri buradan görüntüleyebilirsiniz.</p>
  </div>

  <div class="filter-box">
    <div class="filter-left">
      <div class="filter-header">
        <h3>Departman Filtresi</h3>
        <p>Personelleri departmana göre listeleyebilirsiniz.</p>
      </div>
    </div>

    <div class="filter-content">
      <label for="department">Departman Seçiniz</label>

      <div class="select-wrapper">
        <select
          id="department"
          [value]="DepartmentId"
          (change)="onDepartmentSelected($event)">

          <option value="0">Tüm Departmanlar</option>

          <option
            *ngFor="let department of DepartmentList"
            [value]="department.departmentId">
            {{ department.departmentId }} - {{ department.name }}
          </option>

        </select>
      </div>
    </div>

  </div>

  <div
    *ngIf="PersonelList.length > 0; else emptyState"
    class="table-wrapper">

    <table class="personel-table">

      <thead>
      <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
        <th>Departman</th>
        <th>İşe Giriş Tarihi</th>
        <th>İşlemler</th>
      </tr>
      </thead>

      <tbody>

      <tr *ngFor="let personel of PersonelList">

        <td>{{ personel.firstName }}</td>

        <td>{{ personel.lastName }}</td>

        <td>{{ personel.email }}</td>

        <td>{{ personel.departmentName }}</td>

        <td>{{ personel.hireDate }}</td>
        <td>
          <button (click)="deleteThePersonel(personel.id)">
            Sil
        </button>
          <button [routerLink]="['/personel-update', personel.id]">
            Güncelle
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <ng-template #emptyState>

    <div class="empty-box">

      <h2>Henüz personel yok</h2>

      <p>Veritabanında kayıtlı personel bulunamadı.</p>

    </div>

  </ng-template>

</div>
