<div class="page">
  <div class="page-header">
    <h1>Departman Yönetimi</h1>
  </div>

  <div class="form-card">
    <h2>Yeni Departman Oluştur</h2>

    <div class="form-group">
      <label for="departmentName">Departman Adı</label>
      <input id="departmentName" type="text" [(ngModel)]="departmentName" placeholder="Örn: İnsan Kaynakları"/>
    </div>
    <button (click)="createDepartment()">'Departman Oluştur'</button>

    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>

  <div class="list-section">
    <div class="section-header">
      <h2>Mevcut Departmanlar</h2>
      <span class="count-badge">{{ departmentList.length }} kayıt</span>
    </div>

    <div class="table-wrapper" *ngIf="departmentList && departmentList.length > 0; else emptyState">
      <table class="department-table">
        <thead>
        <tr>
          <th>Departman No</th>
          <th>Departman Adı</th>
          <th>Yönetici Ad Soyad</th>
          <th>İşlemler</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let department of departmentList">
          <td>{{ department.departmentId }}</td>
          <td>{{ department.name }}</td>
          <td>{{ department.managerName }}</td>
          <td>
            <ng-container *ngIf="department.managerName != '-'; else noManager">
              <button
                class="delete-btn"
                (click)="deleteTheManagerByDepartmentId(department.departmentId)">
                Sil
              </button>

              <button
                class="edit-btn"
                (click)="openManagerEdit(department.departmentId)">
                Düzenle
              </button>
            </ng-container>

            <ng-template #noManager>
              ---
            </ng-template>
          </td>
        </tr>

        <tr *ngIf="selectedDepartmentIdForEdit !== 0">
          <td colspan="4">
            <div class="manager-edit-box">
              <h3>Yeni Yönetici Seç</h3>

              <select [(ngModel)]="selectedManagerId">
                <option [ngValue]="0">Personel seçiniz</option>

                <option
                  *ngFor="let personel of personelListByDepartment"
                  [ngValue]="personel.id">
                  {{ personel.firstName }} {{ personel.lastName }}
                </option>
              </select>

              <button class="save-btn" (click)="updateTheManager()">
                Kaydet
              </button>

              <button class="cancel-btn" (click)="cancelManagerEdit()">
                Vazgeç
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <ng-template #emptyState>
      <div class="empty-box">
        <h2>Henüz departman yok</h2>
      </div>
    </ng-template>
  </div>
</div>
